/* hr-reading-view.css
 * custom style for reading view enhanced highlight
 * https://github.com/Galacsh/obsidian-reading-view-enhancer
 */
.rve-selected-block::before {
  content: "❯❯	" !important;
  display: flex;
  align-items: center;
  font-size: 1.15em;
  letter-spacing: -4px;
  line-height: 0.97em;
  overflow: visible;
  color: #d99145;
  margin-left: -40px !important;
	margin-top: -1px !important;
  position: absolute;
  padding: 0px !important;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #30213f;
  border: none !important;
  box-shadow: none !important;
  filter: none !important;
  backdrop-filter: none !important;
  color-interpolation-filters: none !important;
}
