body,
.theme-light,
.theme-dark {
	--background-modifier-border: #2c1c42;
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-cover: #151515;
	--background-modifier-error-hover: #db6088;
	--background-modifier-error-rgb: 61, 0, 0;
	--background-modifier-error: #db6088;
	--background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
	--background-modifier-form-field: rgba(0, 0, 0, 0.3);
	--background-modifier-success: #8edf5f;
	--background-primary-alt: #39274c;
	--background-primary: #201430;
	--background-secondary-alt: #483160;
	--background-secondary: #452f5c;

	--divider-color-hover: #39274c;
	--divider-color: #452f5c;
	--highlight-mix-blend-mode: darken;
	--interactive-accent: #8edf5f;
	--interactive-accent-hover: #87ff5f;
	--interactive-normal: #43492a;
	--interactive-hover: #444444;
	--interactive-success: #8edf5f;
	--ribbon-background: #483160;
	--scrollbar-active-th: rgba(255, 255, 255, 0.2);
	--scrollbar-bg: rgba(255, 255, 255, 0.05);
	--scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);

	--link-color-hover: #ce67f0;
	--link-color: #b968fc;
	--link-decoration: dashed;
	--link-external-color-hover: #ce67f0;
	--link-external-color: #b968fc;
	--link-external-decoration: wavy;
	--link-unresolved-color: #666;
	--link-unresolved-decoration-color: #9f50e1;

	--text-accent-hover: #875faf;
	--text-accent: #875faf;
	--text-error-hover: #db6088;
	--text-error: #db6088;
	--text-faint: #ada4a0;
	--text-highlight-bg-active: rgba(135, 255, 95, 1);
	--text-highlight-bg: rgba(135, 255, 95, 0.85);
	--text-muted-rgb: 153, 153, 153;
	--text-muted: #d4d4d4;
	--text-normal: #e1d6f8;
	--text-on-accent: #d4d4d4;
	--text-selection: #9cda7c;

	--code-background: #30213f;
	--code-comment: #a1a0ad;
	--code-function: #9cda7c;
	--code-important: #8bd450;
	--code-keyword: #87ff5f;
	--code-normal: #e1d6f8;
	--code-operator: #b968fc;
	--code-property: #ce67f0;
	--code-punctuation: #b968fc;
	--code-string: #ab92fc;
	--code-tag: #e6bb85;
	--code-value: #d99145;

	--table-background: transparent;
	--table-border-color: #483160;
	--table-border-width: 1;
	--table-header-background: #9f50e1;
	--table-header-border-color: #9f50e1;
	--table-header-color: #000000;
	--table-text-color: #e1d6f8;
	--table-selection: #9cda7c;
	--table-selection-border-color: #87ff5f;
	--table-selection-border-width: 1;
	--table-drag-handle-background: #452f5c;
	--table-drag-handle-color: #e1d6f8;
	--table-add-button-background: #452f5c;
	--table-add-button-border-width: 0;
	--table-add-button-border-color: #e1d6f8;

	--tag-color: #87ff5f;
	--tag-background: #67478a;
	--tag-radius: 0px;

	--tab-curve: 0;
	--tab-gap: 5px;
	--tab-radius: 0;
	--tab-radius-active: 0;

	--input-radius: 0px;
	--dropdown-background: #39274c;
	--prompt-border-width: 1px;
	--prompt-border-color: #67478a;
	--nav-indentation-guide-color: #28163b;
	--nav-collapse-icon-color: #d99145;
	--nav-collapse-icon-color-collapsed: #c88034;

	* {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px !important;
	background-color: #664679 !important;
}

::-webkit-scrollbar-thumb:active {
	-webkit-border-radius: 0px !important;
	background-color: #664679 !important;
}

/* to widen the screen, you must disable
 * "readable lines" in settings > editor */
body:not(.is-mobile) {
	.metadata-container,
	.cm-contentContainer {
		margin: 0 auto;
		max-width: 75%;
		min-width: 80ch;
	}

	.markdown-preview-sizer.markdown-preview-section {
		margin: 0 auto;
		max-width: 50%;
		min-width: 80ch;
		padding-bottom: 20px !important;
	}
}

/* front matter */
.metadata-container {
	.metadata-property {
		background: #39274c;
		border-bottom: 4px solid #151515;

		button,
		input,
		textarea,
		select,
		select.dropdown {
			background: #39274c;
			border: none;
			background-color: #39274c;
			color: #9cda7c !important;
		}

		.multi-select-pill-remove-button svg {
			stroke: #ab92fc;
		}
	}

	.metadata-property[data-property-key="tags"] {
		.multi-select-pill {
			background: transparent;
			border-radius: 0;
			border: 0;
			padding-left: 0;

			.multi-select-pill-content {
				margin-left: 0;

				span {
					color: #e1d6f8;
				}
			}
		}
	}

	.metadata-add-button {
		background: #201430;
		color: #9f50e1;
	}

	.collapse-indicator {
		opacity: 1;

		svg {
			stroke: #ab92fc;
		}
	}

	.metadata-properties-title {
		color: #d99145;
		font-weight: bold;
		padding-bottom: 4px;
	}

	.metadata-property-icon svg {
		fill: #28163b;
		stroke: #d99145;
		paint-order: fill;
	}

	.metadata-property-key-input {
		color: #e6bb85;
	}

	.metadata-link-inner {
		&::before {
			content: "\FF62";
			color: #ab92fc;
			margin-right: 0.4em;
		}

		&::after {
			content: "\FF63";
			color: #ab92fc;
			margin-left: 0.4em;
		}
	}

	.metadata-property:focus-within {
		box-shadow: none;
		border-bottom-color: #9f50e1;

		.metadata-property-key,
		.metadata-property-key-input {
			background-color: #402c56 !important;
		}
	}
}

/* footnotes */
.cm-s-obsidian span.cm-footref,
a.footnote-link,
sup[data-footnote-id] {
	color: #77f99b;
	padding-left: 2px;
	filter: drop-shadow(1px 2px 0px #101010);
}

/* doc folder titles */
.view-header-breadcrumb,
.view-header-title-parent {
	color: #d99145;
}

/* code blocks */
.HyperMD-codeblock.cm-line:not(.cm-active),
code,
pre {
	white-space: pre;
	border-radius: 0 !important;
	background: #30213f !important;
	--code-background: #30213f;
}

pre,
.HyperMD-codeblock-end {
	box-sizing: border-box;
	border-bottom: 4px solid #151515 !important;
}

.cm-preview-code-block:hover {
	box-shadow: unset !important;
}

.copy-code-button {
	text-indent: -9999px;
	line-height: 0;
	border: 0 !important;
	background: transparent !important;
	padding: 0 2px 0 0 !important;
}

.copy-code-button::after {
	content: "\f018f";
	text-indent: 0;
	display: block;
	line-height: initial;
	color: #00ff00;
}

.code-block-flair {
	display: none !important;
}

.cm-s-obsidian span.cm-inline-code {
	background: #30213f !important;
	--code-background: #30213f;
	--code-normal: #e1d6f8;
	--code-string: #ab92fc;
	border-radius: 0 !important;
	box-sizing: border-box;
	border-bottom: 4px solid #151515 !important;
}

.expressive-code {
	&:hover {
		.copy button {
			background-color: transparent !important;
		}
	}

	.copy button {
		transform: scale(0.9) !important;
		margin-bottom: 8px;
		margin-right: -5px !important;
		&::after {
			background-color: #00ff00 !important;
		}
	}

	.ec-line.ins {
		background: linear-gradient(
			90deg,
			rgba(50, 55, 32, 1) 60%,
			rgba(48, 33, 63, 1) 100%
		) !important;

		.code {
			border-color: #9cda7c !important;
			&::before {
				color: #9cda7c !important;
			}
		}
	}

	.ec-line.mark {
		background: #2d1f38;
		background: linear-gradient(
			90deg,
			rgba(72, 49, 96, 1) 60%,
			rgba(48, 33, 63, 1) 100%
		) !important;
	}

	.ec-line.mark .code {
		border-color: #a1a0ad !important;
	}

	.ec-line.mark:not(:has(.gutter)) .code {
		border-color: #875faf !important;
	}

	.ec-line.del,
	.ec-line.ins,
	.ec-line.mark {
		.gutter {
			color: #e1d6f8 !important;
		}
	}

	.ec-line .gutter {
		color: #a1a0ad !important;
	}

	.ec-line.del {
		background: linear-gradient(
			90deg,
			rgba(69, 35, 47, 1) 60%,
			rgba(48, 33, 63, 1) 100%
		) !important;

		.code {
			border-color: #ae1018 !important;
			&::before {
				color: #ae1018 !important;
			}
		}
	}
}

.frame {
	& .header {
		background: none !important;
		display: block !important;

		&::after,
		&::before {
			display: none !important;
		}

		.title:empty {
			display: none;
		}

		.title {
			background: #483160 !important;
			padding: 8px !important;
			border-top: 2px solid #875faf;
			box-sizing: border-box;
			border-bottom: 2px solid #151515 !important;

			&::after {
				border: none !important;
			}
		}
	}
}

.frame.has-title:not(.is-terminal) .title {
	border-top: 2px solid #875faf !important;
	margin-bottom: -6px !important;
	display: inline-block;
	padding: 6px !important;
}

/* syntax highlighting */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #a1a0ad;
}

.token.punctuation {
	color: #b968fc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
	color: #e6bb85;
}

.token.property,
.token.selector {
	color: #ce67f0;
}

.token.function-name {
	color: #9cda7c;
}

.token.boolean,
.token.selector .token.id,
.token.function {
	color: #d99145;
}

.token.class-name {
	color: #87ff5f;
}

.token.constant,
.token.symbol {
	color: #8bd450;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
	color: #87ff5f;
}

.token.string,
.token.char {
	color: #e1d6f8;
}

.token.attr-value,
.token.regex,
.token.variable {
	color: #a4d2ec;
}

.token.operator,
.token.entity,
.token.url {
	color: #b968fc;
}

.token.inserted {
	color: #87ff5f;
}

/* callouts */
blockquote:before,
.markdown-preview-view blockquote {
	border: 2px solid;
	border-image: linear-gradient(
		to right bottom,
		#87ff5f 0,
		#875faf 45%,
		rgba(20, 14, 30, 0) 85%
	);
	border-image-slice: 1;
	padding: 10px;
	margin: 1em 0;
}

blockquote p {
	display: inline;
}

blockquote {
	margin-inline-start: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

.markdown-source-view,
.is-live-preview,
.markdown-rendered {
	.callout {
		padding: 15px;
		border-radius: 0;
		margin-top: 1em;
		margin-bottom: 1em;
		mix-blend-mode: normal;

		a svg {
			stroke: #000;
			fill: #000;
			padding-right: 3px;
		}

		em,
		strong,
		.cm-em,
		.cm-strong {
			color: #201430;
		}

		* {
			margin: 0px !important;
			/* required */
		}

		.cm-hmd-internal-link,
		.internal-link,
		.cm-url,
		.external-link {
			color: #201430 !important;
			/* required */
			text-decoration-thickness: 1px;
			text-decoration: underline;
			text-underline-offset: 1.5px;
			text-decoration-style: wavy;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #9f50e1;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #87ff5f;
		}
	}

	.callout[data-callout="bug"],
	.callout[data-callout="default"],
	.callout[data-callout="note"],
	.callout[data-callout="error"],
	.callout[data-callout="danger"] {
		background: #db6088;
		--callout-color: #201430;
		color: #201430;

		svg {
			fill: #ae1018;
			stroke: #201430;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #9f50e1;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #87ff5f;
		}
	}

	.callout[data-callout="fail"],
	.callout[data-callout="failure"],
	.callout[data-callout="missing"] {
		background: #db6088;
		--callout-color: #201430;
		color: #201430;

		svg {
			stroke: #660000;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #87ff5f;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #9f50e1;
		}
	}

	.callout[data-callout="success"],
	.callout[data-callout="check"],
	.callout[data-callout="done"] {
		background: #9cda7c;
		--callout-color: #201430;
		color: #201430;

		svg {
			fill: #87ff5f;
			stroke: #74008e;
		}

		.cm-s-obsidian span.cm-footref,
		a.footnote-link,
		sup[data-footnote-id] {
			color: #ce67f0;
			padding-left: 2px;
			filter: none !important;
			/* required */
		}

		.cm-url,
		.external-link {
			text-decoration-color: #43492a;
		}
	}

	.callout[data-callout="important"],
	.callout[data-callout="info"],
	.callout[data-callout="warning"],
	.callout[data-callout="summary"],
	.callout[data-callout="abstract"],
	.callout[data-callout="tldr"],
	.callout[data-callout="caution"] {
		background: #e6bb85;
		--callout-color: #201430;
		color: #201430;

		svg {
			fill: #d99145;
			stroke: #201430;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #436a2a;
		}
	}

	.callout[data-callout="example"] {
		background: #ab92fc;
		--callout-color: #201430;
		color: #201430;

		svg {
			fill: #a4d2ec;
			stroke: #151515;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #452f5c;
		}
	}

	.callout[data-callout="question"],
	.callout[data-callout="help"],
	.callout[data-callout="faq"],
	.callout[data-callout="tip"],
	.callout[data-callout="hint"],
	.callout[data-callout="todo"],
	.callout[data-callout="attention"],
	.callout[data-callout="quote"] {
		background: #ab92fc;
		--callout-color: #201430;
		color: #201430;

		svg {
			fill: #a4d2ec;
			stroke: #483160;
		}

		.cm-url,
		.external-link {
			text-decoration-color: #87ff5f;
		}

		.cm-hmd-internal-link,
		.internal-link {
			text-decoration-color: #452f5c;
		}
	}

	.callout[data-callout="important"] {
		svg {
			stroke: #201430;
			fill: #db6088;
		}
	}

	.callout[data-callout="tip"],
	.callout[data-callout="hint"] {
		svg {
			stroke: #201430;
			fill: #87ff5f;
		}
	}
}

/* emphasis */
em,
.cm-em,
.markdown-preview-view em,
.markdown-preview-section em {
	color: #77f99b;
	font-style: italic;
}

strong,
.cm-strong,
.markdown-preview-view strong,
.markdown-preview-section strong {
	color: #77f99b;
	font-style: normal;
	font-weight: bold;
}

/* misc ui */
.tag {
	box-sizing: border-box;
	border-bottom: 4px solid #151515 !important;
	/* required */
}

/* headers */
h1,
.cm-header-1,
.markdown-preview-view h1,
h2,
.cm-header-2,
.markdown-preview-view h2,
h3,
.cm-header-3,
.markdown-preview-view h3,
h4,
.cm-header-4,
.markdown-preview-view h4,
h5,
.cm-header-5,
.markdown-preview-view h5,
h6,
.cm-header-6,
.markdown-preview-view h6 {
	color: #87ff5f;
	margin: 0.5em 0 0 0 !important;
	/* required */
	padding: 0;
}

/* view action item darker color */
.view-action {
	color: #9cda7c;
}

.git-tools,
.workspace-drawer-vault-actions,
.view-content.node-insert-event > div,
.view-content.node-insert-event .tree-item,
.workspace-leaf-content[data-type="outline"] .view-content,
.nav-buttons-container {
	background: #39274d;
}

.nav-action-button.is-active {
	background-color: #ab92fc;
	color: var(--text-muted);
}

.graph-view.color-line {
	color: #ab92fc;
}

.graph-controls {
	background-color: #000000;
}

.workspace-leaf.mod-active .view-header-title {
	color: #9cda7c;
}

/* border for preview popup window */
.popover.hover-popover {
	border: 2px solid #ce67f0;
}

/* strikethrough and desat */
.markdown-preview-view ul > li.task-list-item.is-checked {
	text-decoration: none;
	color: #a1a0ad;
}

.task-list-item.is-checked .task-list-item:not(.is-checked) {
	text-decoration: line-through;
}

input[type="checkbox"] {
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background-color: #201430;
	color: #875faf;
	border: 0.15em solid #875faf !important;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
}

input[type="checkbox"]::after {
	margin-left: -0.2em;
	margin-top: 0.2em;
	transform: scale(0);
	transform-origin: bottom left;
	transition: 200ms transform ease-in-out;
	box-shadow: inset 1em 1em #87ff5f;
}

input[type="checkbox"]:checked::after {
	transform: scale(1.4);
}

.markdown-preview-view .collapse-indicator {
	opacity: 0.1;
}

.markdown-preview-view .collapse-indicator:hover {
	opacity: 1;
}

/* {un,}ordered lists */
/* hide old markers */
:is(.cm-formatting-list-ul, .markdown-rendered ul > li) > .list-bullet::after {
	border: none;
	content: none;
	outline: none;
}

.HyperMD-list-line.HyperMD-list-line-1.cm-line {
	margin-left: -0.4em;
}

ul,
.cm-formatting-list-ul,
.markdown-rendered ul {
	margin: 0;
	padding: 0 0 0.4em 0;

	ul,
	.cm-formatting-list-ul,
	.markdown-rendered ul {
		padding: 0 0 0 1em;

		&::before {
			background: #101010;
		}
	}
}

ul.has-list-bullet li {
	margin-left: 24px;
	padding-top: 0.175em;
}

.list-bullet::before,
ul:not(li > *) > li > .list-bullet::before,
ul:not(li > *) > li > ul > li > .list-bullet::before,
ul:not(li > *) > li > ul > li > ul > li > .list-bullet::before,
ol li ul li .list-bullet::before {
	content: "◈";
	color: #ce67f0;
	margin-left: -0.45em;
	padding-top: 0.05em;
}

.HyperMD-list-line-1,
.HyperMD-list-line-2,
.HyperMD-list-line-3,
.HyperMD-list-line-4,
.HyperMD-list-line-5,
.HyperMD-list-line-6,
.HyperMD-list-line-7,
.HyperMD-list-line-8 {
	margin: 0;
	padding: 0;

	.list-bullet::before {
		content: "◈";
		color: #ce67f0;
		margin-left: -0.1em;
		padding-right: 0;
	}
}

ol {
	position: relative;
}

ol::before {
	content: "";
	border-left: 2px solid;
	border-image: linear-gradient(
		to bottom,
		#87ff5f,
		#875faf,
		rgba(20, 14, 30, 0.1)
	);
	border-image-slice: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -9px;
}

ol li::marker {
	color: #ce67f0;
	font-weight: bold;
}

/* horizontal rule */
hr,
cm-hr,
.cm-formatting-hr,
.cm-s-obsidian-hr,
.markdown-rendered hr,
.markdown-preview-view hr {
	border: none;
	border-top: 2px solid;
	border-image: linear-gradient(
		to right,
		#87ff5f,
		#875faf,
		rgba(20, 14, 30, 0.1)
	);
	border-image-slice: 1;
	margin-bottom: 2em;
	margin-top: 2em;
	padding: 0px;
}

hr.workspace-leaf-resize-handle {
	border: #483160;
	margin-bottom: 0px;
}

.cm-s-obsidian span.cm-builtin,
.cm-s-obsidian span.cm-hr {
	color: #87ff5f;
	margin-bottom: 2em;
	margin-top: 2eml;
	padding: 0px;
}

/* data view */
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .block-language-dataview h4,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .block-language-dataview > h4,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .block-language-dataviewjs h4,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .block-language-dataviewjs > h1,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .block-language-dataviewjs > h2,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .block-language-dataviewjs > h3,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .block-language-dataviewjs > h4,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .block-language-dataviewjs > p,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .dataview.dataview-container > .contains-task-list,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .dataview.dataview-error,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .dataview.list-view-ul,
body:not(.table-100):not(.table-max):not(.table-wide) .markdown-preview-view.is-readable-line-width:not(.table-100):not( .table-max):not(.table-wide) .dataview.result-group {
	/* width fix */
	max-width: 100%;
}

.dataview .small-text {
	color: #222;
}

.dataview ol,
.dataview ul {
	list-style-type: none !important;
	padding: 0px !important;
}

.dataview tbody tr {
	border-bottom: 1px solid #39274c;
	--table-background: transparent;
	background: transparent !important;
}

.dataview tbody td {
	padding: 0.75em;
}

.dataview tbody .tag {
	clear: both;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 0.1em;
	border-bottom: 4px solid #151515;
}

.dataview tbody a,
a:visited {
	color: #87ff5f !important;
}

/* tables */

.cm-s-obsidian,
.markdown-source-view,
.markdown-source-view .cm-scroller,
.is-live-preview,
.markdown-rendered {
	.table-view,
	table {
		width: 100% !important;
		margin-top: 10px;
		clear: inline-start;

		tbody {
			height: fit-content;
		}
	}

	thead,
	.table-view-thead {
		background-color: #9f50e1 !important;
		color: #000 !important;
		font-weight: bold;
	}

	.HyperMD-table-row-0.cm-line {
		color: #d99145;
	}

	thead,
	.table-view-thead {
		background-color: #9f50e1 !important;
		color: #000 !important;
		font-weight: bold;
	}

	thead,
	.table-view-thead {
		background-color: #9f50e1 !important;
		color: #000 !important;
		font-weight: bold;
	}

	tbody,
	.table-view-tbody {
		--table-background: #39274d;

		tr,
		td {
			--table-background: transparent;
			background: transparent !important;
		}

		tr {
			border-bottom: 1px solid #39274c;
		}

		td {
			border: none !important;
		}
	}
}

.markdown-source-view,
.markdown-source-view .cm-scroller {
	thead,
	.table-view-thead {
		color: #fff !important;
		font-weight: bold;
	}
}

/* search highlights */
.is-flashing,
.is-flashing * {
	background-color: #87ff5f !important;
	color: #201430 !important;
}

.markdown-rendered .search-highlight > div {
	position: absolute;
	pointer-events: none;
	box-shadow: 0 0 0px 2px #87ff5f;
	opacity: 0.3;
	mix-blend-mode: var(--highlight-mix-blend-mode);
	z-index: 999;
}

.markdown-rendered .search-highlight > div.is-active {
	box-shadow: 0 0 0px 3px #87ff5f;
	opacity: 1;
	z-index: 999;
}

.cm-s-obsidian span.obsidian-search-match-highlight {
	box-shadow: 0 0 0px 3px #87ff5f;
	mix-blend-mode: var(--highlight-mix-blend-mode);
	z-index: 999;
}

/* calendar */
#calendar-container .year {
	color: #ab92fc;
}

#calendar-container .month {
	color: #ab92fc;
}

#calendar-container .active {
	color: #87ff5f;
	background-color: #39274c;
}

.kanban-plugin__lane {
	border: var(--interactive-accent);
}

.svelte-pcimu8 {
	--color-text-today: #87ff5f;
}

/* omnisearch */
.omnisearch-modal {
	border-radius: 0px;
	background: #39274c;
}

.omnisearch-result {
	background: #452f5c;
}

.omnisearch-result__title,
.omnisearch-result__title > span {
	color: #9cda7c;
}

.omnisearch-result__extension,
.omnisearch-result__folder-path {
	color: #d99145;
}

.omnisearch-result__counter {
	color: #3add04 !important;
	background: #951bfa;
	padding: 2px;
	margin-left: 1em;
}

.omnisearch-result__body {
	color: #e1d6f8;
}

.omnisearch-highlight {
	background: #67478a;
}

.omnisearch-default-highlight {
	text-decoration-color: #ce67f0;
	text-decoration-style: wavy;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: auto;
}

.modal-container,
.omnisearch-modal {
	top: 10%;

	.prompt {
		border-radius: 0px !important;
	}

	.prompt-instructions {
		display: none;
	}

	.modal-bg {
		opacity: 0 !important;
	}

	.search-input-clear-button {
		margin-top: 10px;

		&::after {
			color: #666;
		}
	}
}

/* tab bar */
.workspace .mod-root .workspace-tab-header-container {
	padding-left: 0px;
	background: #201430;
	border: 0 !important;
}

.workspace .mod-root .workspace-tab-header-container-inner {
	font-weight: bold;
}

.workspace .mod-root .workspace-tab-header.is-active {
	background: none;
	box-shadow: none;
}

.workspace .mod-root .workspace-tab-header.is-active::before,
.workspace .mod-root .workspace-tab-header.is-active::after {
	display: none;
}

.workspace .mod-root .workspace-tab-header {
	padding-left: 2px;
	padding-right: 2px;
}

/* hide tab separator bar */
.workspace .mod-root .workspace-tab-header-inner::after {
	display: none;
}

/* less prominent pinned icon */
.workspace
	.mod-root
	.workspace-tab-header.is-active
	.workspace-tab-header-status-icon {
	opacity: 0.6 !important;
}

.workspace
	.mod-root
	.workspace-tab-header:not(.is-active)
	.workspace-tab-header-inner-close-button {
	position: absolute;
	right: 6px;
	margin-top: 0px;
}

.workspace-tabs
	.workspace-tab-header:not(.is-stacked)
	.workspace-tab-header-inner {
	box-sizing: border-box !important;
	border-bottom: 4px solid #151515 !important;
	margin: 0px 4px 0 0 !important;
	padding: 10px;
	height: 100%;
}

.mod-sidedock
	.workspace-tabs
	.workspace-tab-header:not(.is-stacked)
	.workspace-tab-header-inner {
	border: 0 !important;

	svg {
		fill: #28163b;
		stroke: #87ff5f;
		paint-order: fill;
	}
}

.workspace-tab-header.is-active:not(.is-stacked) .workspace-tab-header-inner,
.workspace-tab-header.mod-active:not(.is-stacked) .workspace-tab-header-inner {
	background: #67478a !important;
	box-sizing: border-box !important;
	border-bottom: 4px solid #151515 !important;

	.workspace-tab-header-inner-title {
		color: #e1d6f8 !important;
	}
}

.workspace-split.mod-sidedock.mod-right-split .workspace-tab-header-inner {
	border: none !important;
}

.workspace-tab-header:hover .workspace-tab-header-inner-close-button {
	background: #69359c;
	margin-right: 4px;

	svg {
		stroke: #ae1018;
		stroke: #db6088;
	}
}

.workspace-tab-header.is-active:hover .workspace-tab-header-inner-close-button {
	margin-right: 0px;
}

.workspace-tab-header .workspace-tab-header-status-icon:hover,
.workspace-tab-header .workspace-tab-header-inner-close-button:hover,
.workspace-tab-header.is-active .workspace-tab-header-status-icon:hover,
.workspace-tab-header.is-active .workspace-tab-header-inner-close-button:hover {
	background: #ae1018;

	svg {
		stroke: #101010;
	}
}

/* smaller buttons */
.workspace .mod-root .workspace-tab-header-inner-close-button,
.workspace .mod-root .workspace-tab-header-status-icon {
	transform: scale(0.9) translate(2px, 1px);
	transform-origin: center;
}

.workspace .mod-root .workspace-tab-header-new-tab {
	margin-left: 4px;
}

.workspace .mod-root .workspace-tab-header-new-tab .clickable-icon {
	transform: scale(0.8) translate(0, 1px);
}

.workspace .mod-root .workspace-tab-header .workspace-tab-header-inner,
.workspace-tabs.mod-stacked.mod-top .workspace-tab-header-inner {
	background-color: #39274d;
	border: 0px;

	.workspace-tab-header-inner-title {
		color: #888;
		padding-left: 2px;
	}
}

.is-focused.mod-active
	.workspace-tab-header.is-active
	.workspace-tab-header-inner-icon,
.is-focused.mod-active
	.workspace-tab-header.is-active
	.workspace-tab-header-inner-title {
	color: #e1d6f8 !important;
}

.workspace-tabs {
	.workspace-tab-header-new-tab {
		background: #39274c;
		width: 24px;
		height: 24px;
		border-radius: 2px;
		padding: 4px;
		margin-top: 10px;
		box-sizing: border-box;
		border-bottom: 4px solid #151515 !important;

		svg {
			stroke: #8edf5f;
			width: 24px;
			height: 24px;
			margin: 0 0 1px -9px;
		}
	}

	.workspace-tab-header-tab-list {
		background: #39274c;
		margin: 10px 7px 0 0;
		width: 24px;
		height: 24px;
		border-radius: 2px;
		padding: 3px;
		box-sizing: border-box;
		border-bottom: 4px solid #151515 !important;

		svg {
			stroke: #8edf5f;
			width: 24px;
			height: 24px;
			margin: 1px 0 1px -7px;
		}
	}
}

/* hide tabs when stacked */
.workspace-tabs.mod-stacked {
	--tab-stacked-header-width: 31px;

	.workspace-tab-header-container {
		height: 1px;
	}

	.workspace-tab-header-inner {
		padding-top: 33px !important;

		/* required */
		&:hover {
			.workspace-tab-header-inner-close-button {
				margin-right: 0;
			}
		}
	}

	.workspace-tab-header-new-tab {
		border: 0 !important;
		background: none;

		.clickable-icon {
			background: #69359c;
			border-top: 1px solid #875faf !important;
			border-bottom: 1px solid #483160 !important;
			border-left: 1px solid #483160 !important;
			border-right: 1px solid #875faf !important;
			padding: 0px !important;
			position: absolute;
			left: 0px;
			top: 0;
			border-radius: 0 !important;
			width: 30px;
			height: 25px;
			margin-top: 8px;
			opacity: 1;

			svg {
				stroke: #87ff5f;
				margin-left: 0;
			}
		}

		&:hover {
			.clickable-icon {
				background: #8edf5f;
				border-color: #483160 !important;

				svg {
					stroke: #101010;
				}
			}
		}
	}

	.workspace-tab-header-inner-close-button {
		position: sticky !important;
		background: #69359c;
		border-radius: 0;
		border-top: 1px solid #875faf !important;
		border-bottom: 1px solid #483160 !important;
		border-left: 1px solid #483160 !important;
		border-right: 1px solid #875faf !important;
		padding: 3px 4px 3px 5px !important;
		margin-bottom: 5px;
		margin-left: -0.3em !important;
		right: 0 !important;

		svg {
			border: 0 !important;
			stroke: #87ff5f;
		}

		&:hover {
			background: #ae1018 !important;
			margin-right: 0;
			border-color: #483160 !important;

			svg {
				stroke: #101010;
			}
		}
	}

	.workspace-tab-header-tab-list {
		background: #39274c;
		margin-top: 8px;
		height: 23px !important;
		width: 27px;
		border-radius: 3px;
		margin-right: -7px;
		border-bottom: 0 !important;

		.clickable-icon {
			margin: 2px 0 0 1px;
		}
	}

	.workspace-tab-header-container .sidebar-toggle-button.mod-right {
		padding: 0;
		margin: 0 2px 0px 0px;
		height: 23px;
		width: 26px;
		margin-top: 8px;
		border-radius: 2px;

		svg {
			width: 17px;
			height: 17px;
		}
	}

	.view-header {
		padding-left: 2px;
	}

	.view-actions {
		margin-right: 46px;

		.cmdr-adder {
			display: none;
		}

		.view-action {
			margin-right: 2px;
		}
	}
}

.workspace-tabs
	.workspace-tab-header-container
	.sidebar-toggle-button.mod-right {
	padding: 0;
	margin: 0 2px 0px 0px;
	background: transparent !important;
	height: 23px;
	width: 26px;
	margin-top: 8px;
	border-radius: 2px;

	svg {
		background: #201430;
		width: 17px;
		height: 17px;
	}
}

.workspace-tabs.mod-stacked.mod-active,
.workspace-tabs.mod-stacked,
.mod-sidedock .workspace-tabs {
	.workspace-tab-header-inner {
		border-bottom: 0 !important;
	}
}

/* tablet mode fixes */
.is-tablet .beautitab .view-actions {
	padding-top: 19px;
}

.is-tablet .expressive-code .copy button {
	transform: scale(0.6) !important;
}

.is-tablet
	.workspace-tabs.mod-stacked
	.workspace-tab-header-new-tab
	.workspace-tab-header-tab-list {
	height: 33px !important;
}

.is-tablet .workspace-tabs.mod-stacked {
	.workspace-tab-header-tab-list {
		margin-top: 10px;
		margin-right: -13px;
		width: 34px;
		height: 33px !important;

		.clickable-icon svg {
			width: 30px;
			height: 30px;
		}

		.view-actions {
			margin-right: 60px;
		}
	}
}

.is-tablet .workspace-drawer-header div,
.is-tablet .workspace-drawer.is-pinned .workspace-drawer-header div {
	color: #e1d6f8 !important;
}

.is-tablet .workspace-drawer.is-pinned {
	padding-top: 3px;
}

/* settings & ui */
button,
input,
textarea,
select,
select.dropdown {
	border: 1px solid #151515;
	background-color: #39274c !important;
	color: #e1d6f8 !important;
}

.workspace-drawer-vault-name,
.is-tablet .workspace-drawer-header > * *,
.is-tablet .workspace-drawer.is-pinned .workspace-drawer-header > * * {
	color: #d99145 !important;
}

.vertical-tab-nav-item.is-active {
	color: #101010 !important;
}

.mod-cta {
	color: #101010 !important;
	background: #9cda7c !important;
}

.setting-item-name {
	color: #ab92fc;
}

.workspace-drawer {
	border-radius: 0px !important;
	border: none;
}

.tree-item-self.is-active.has-focus {
	box-shadow: 0 0 0 2px #28163b !important;
	border-radius: 0px !important;
	background: #67478a;
}

.mod-left .workspace-leaf-content:has(.nav-buttons-container) {
	.nav-header {
		padding-top: 3px;
		height: 40px;
	}
}

.git-tools .type,
.git-tools .files-count,
.git-tools .buttons {
	background: #39274d;
}

.nav-files-container {
	border-top: 2px solid #28163b;
	border-bottom: 2px solid #28163b;
	margin: 4px 0 0 0;
}

.mod-sidedock.mod-left-split .view-content:has(.trash-item) {
	padding: 12px 0;

	.search-input-container {
		margin: 0 12px;
	}

	.node-list:has(.trash-item) {
		background: #39274c !important;
		padding: 1em 0.3em;
		border-top: 2px solid #201430;
		border-bottom: 2px solid #201430;

		.textcontainer {
			padding-left: 3px;

			.name {
				color: #d99145;
			}
		}

		button {
			background-color: #67478a !important;
			margin-right: 3px;

			svg {
				stroke: #87ff5f;
				fill: #454545;
			}
		}
	}
}

.git-view {
	margin-top: 2px;

	.nav-header {
		margin: 4px 8px;
	}
}

.git-tools,
.workspace-drawer-vault-actions,
.view-content.node-insert-event > div,
.nav-buttons-container {
	background: #452f5c !important;

	.cmdr.clickable-icon,
	.clickable-icon,
	.nav-action-button {
		svg {
			fill: #28163b !important;
			stroke: #87ff5f !important;
			paint-order: fill !important;
		}
	}
}

.tree-item-children {
	padding-inline-start: var(
		--nav-item-children-padding-start,
		var(--nav-item-children-padding-left)
	);
	margin-inline-start: var(
		--nav-item-children-margin-start,
		var(--nav-item-children-margin-left)
	);
	border-inline-start: 2px solid #28163b;
}

.nav-files-container {
	background: #39274d;
}

.nav-folder-collapse-indicator {
	svg {
		stroke: #d99145 !important;
	}
}

.status-bar {
	border-radius: 0px;
	border: 1px 0px 0px 1px;
	border-color: #28163b;
}

/* all icons except the files */
.status-bar-item-icon,
.clickable-icon:not(:has(.iconize-icon)) {
	svg {
		fill: #28163b;
		stroke: #87ff5f;
		paint-order: fill;
	}
}

/* new tab */
.workspace-leaf-content.beautitab {
	background-color: #201430 !important;
}

.beautitab-search-text {
	text-transform: lowercase;
}

.beautitab-center {
	padding-bottom: 0px !important;
}

.beautitab-search-wrapper {
	border-radius: 0px !important;
	width: 50% !important;
	min-width: 500px !important;
	margin: 0 auto;
}

.beautitab-recentlyedited-file {
	.beautitab-icon svg {
		stroke: #28163b;
		fill: #875faf;
		paint-order: fill;
	}

	.beautitab-recentlyedited-file-name {
		color: #a4d2ec;
	}
}

/* hide gradients */
.beautitab-wrapper,
.beautitab-quote,
.beautitab-top {
	background: none !important;
}

/*
img alignment hax
![[image.png | center | 256]]
![Photo | floatleft | 256](image.png)
*/
.right,
img[alt*="right"] {
	display: block;
	margin-left: auto;
	margin-right: 0;
}

.center,
img[alt*="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.floatleft,
img[alt*="floatleft"] {
	float: left;
	clear: left;
}

.floatRight,
img[alt*="floatright"] {
	float: right;
	clear: right;
}

/* custom page header icons
 * <header>:XoManual:</header>
 */
header {
	float: right;
	clear: none;
	display: inline-flex;

	.cm-iconize-icon svg {
		width: 36px !important;
		height: 36px !important;
		margin: 7px 2px 0 0;
	}
}
