body,
.theme-light,
.theme-dark {
  --background-modifier-border: #b968fc;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: #151515;
  --background-modifier-error-hover: #db6088;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error: #db6088;
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #8edf5f;
  --background-primary-alt: #39274c;
  --background-primary: #201430;
  --background-secondary-alt: #483160;
  --background-secondary: #452f5c;

  --divider-color-hover: #39274c;
  --divider-color: #452f5c;
  --divider-vertical-height: 1px;
  --divider-width-hover: 1px;
  --divider-width: 1px;
  --highlight-mix-blend-mode: darken;
  --interactive-accent-hover: #ce67f0;
  --interactive-accent-rgb: 135, 95, 175;
  --interactive-accent: #9f50e1;
  --interactive-hover: #444444;
  --interactive-normal: #43492a;
  --interactive-success: #8edf5f;
  --ribbon-background: #483160;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);

  --link-color-hover: #ce67f0;
  --link-color: #b968fc;
  --link-decoration: dashed;
  --link-external-color-hover: #ce67f0;
  --link-external-color: #b968fc;
  --link-external-decoration: wavy;
  --link-unresolved-color: #666;
  --link-unresolved-decoration-color: #9f50e1;

  --text-accent-hover: #875faf;
  --text-accent: #875faf;
  --text-error-hover: #db6088;
  --text-error: #db6088;
  --text-faint: #ada4a0;
  --text-highlight-bg-active: rgba(135, 255, 95, 1);
  --text-highlight-bg: rgba(135, 255, 95, 0.85);
  --text-muted-rgb: 153, 153, 153;
  --text-muted: #d4d4d4;
  --text-normal: #e1d6f8;
  --text-on-accent: #d4d4d4;
  --text-selection: #9cda7c;

  --code-background: #452f5c;
  --code-comment: #a1a0ad;
  --code-function: #9cda7c;
  --code-important: #8bd450;
  --code-keyword: #87ff5f;
  --code-normal: #e1d6f8;
  --code-operator: #b968fc;
  --code-property: #ce67f0;
  --code-punctuation: #b968fc;
  --code-string: #ab92fc;
  --code-tag: #e6bb85;
  --code-value: #d99145;

  --input-radius: 0px;
  --tab-radius-active: 0px;
  --checkbox-radius: 0px;
}

.callout[data-callout="tip"],
.callout[data-callout="hint"] {
  --callout-color: var(--callout-tip);
  --callout-done-color: #201430;
  --callout-icon: lucide-flame;
}

.callout[data-callout="bug"],
.callout[data-callout="default"],
.callout[data-callout="note"],
.callout[data-callout="error"],
.callout[data-callout="danger"],
.callout[data-callout="fail"],
.callout[data-callout="failure"],
.callout[data-callout="missing"] {
	background: #db6088;
  --callout-color: #201430;
	color: #201430;
}
.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
	background: #9cda7c;
  --callout-color: #201430;
	color: #201430;
}
.callout[data-callout="important"],
.callout[data-callout="info"],
.callout[data-callout="warning"],
.callout[data-callout="summary"],
.callout[data-callout="abstract"],
.callout[data-callout="tldr"],
.callout[data-callout="caution"] {
	background: #e6bb85;
  --callout-color: #201430;
	color: #201430;
}
.callout[data-callout="example"],
.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"],
.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="todo"],
.callout[data-callout="attention"],
.callout[data-callout="quote"] {
	background: #ab92fc;
  --callout-color: #201430;
	color: #201430;
}
/*------- TEXT FIXES -------*/
em,
.cm-em,
.markdown-preview-view em,
.markdown-preview-section em {
  color: #77f99b;
  font-style: italic !important;
}
strong,
.cm-strong,
.markdown-preview-view strong,
.markdown-preview-section strong {
  color: #77f99b;
  font-style: normal !important;
  font-weight: bold !important;
}
h1,
.cm-header-1,
.markdown-preview-view h1 {
  color: #87ff5f;
  opacity: 1;
}
h2,
.cm-header-2,
.markdown-preview-view h2 {
  color: #87ff5f;
  opacity: 0.9;
}
h3,
.cm-header-3,
.markdown-preview-view h3 {
  color: #87ff5f;
  opacity: 0.8;
}
h4,
.cm-header-4,
.markdown-preview-view h4 {
  color: #87ff5f;
  opacity: 0.7;
}
h5 .cm-header-5,
.markdown-preview-view h5 {
  color: #9cda7c;
  opacity: 0.6;
}
h6 .cm-header-6,
.markdown-preview-view h6 {
  color: #9cda7c;
  opacity: 0.5;
}

/*view action item darker color*/
.view-action {
  color: #9cda7c;
}

.workspace-leaf-resize-handle {
  background-color: #9f50e1;
}

.nav-action-button.is-active {
  background-color: #ab92fc;
  color: var(--text-muted);
}

.graph-view.color-line {
  color: #ab92fc;
}

.graph-controls {
  background-color: #000000;
}

.workspace-leaf.mod-active .view-header-title {
  color: #9cda7c;
}

.cm-s-obsidian span.cm-builtin,
.cm-s-obsidian span.cm-hr {
  color: var(--background-modifier-border);
}

/*Border for preview popup window*/
.popover.hover-popover {
  border: 2px solid #ce67f0;
}

/*change color for checked line-through checklist items*/
.markdown-preview-view ul > li.task-list-item.is-checked {
  color: var(--text-muted);
}

.markdown-preview-view .collapse-indicator {
  opacity: 0.1;
}
.markdown-preview-view .collapse-indicator:hover {
  opacity: 1;
}

ul ul {
  position: relative;
}
ul ul::before {
  content: "";
  border-left: 1px solid;
  border-image: linear-gradient(
    to right,
    #87ff5f,
    #875faf,
    rgba(20, 14, 30, 0.1)
  );
  border-image-slice: 1;
  position: absolute;
  opacity: 0.6;
}
ul ul::before {
  left: -15px;
  top: 0;
  bottom: 0;
}

ol ol {
  position: relative;
}
ol ol::before {
  content: "";
  border-left: 1px solid;
  border-image: linear-gradient(
    to right,
    #87ff5f,
    #875faf,
    rgba(20, 14, 30, 0.1)
  );
  border-image-slice: 1;
  position: absolute;
  opacity: 0.6;
}
ol ol::before {
  left: -15px;
  top: 0;
  bottom: 0;
}

li {
  margin: 10px 0;
}

.markdown-preview-view hr {
  border: none;
  border-top: 1px solid;
  border-image: linear-gradient(
    to right,
    #87ff5f,
    #875faf,
    rgba(20, 14, 30, 0.1)
  );
  border-image-slice: 1;
  opacity: 0.5;
}
.cm-s-obsidian span.cm-builtin,
.cm-s-obsidian span.cm-hr {
  color: #87ff5f;
}

.markdown-preview-view blockquote {
  border: 1px solid;
  border-image: linear-gradient(
    to right,
    #87ff5f,
    #875faf,
    rgba(20, 14, 30, 0.1)
  );
  border-image-slice: 1;
  border-left-width: 2px;
}

.checkbox-container:after {
  background-color: var(--text-normal);
}

blockquote:before {
  font:
    14px/20px italic Times,
    serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

blockquote {
  margin-inline-start: 0;
}

.tag {
  background-color: #483160;
  border: none;
  color: var(--text-normal);
  /*font-size: 18px;*/
  padding: 1px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}
.tag:hover {
  color: var(--text-normal);
  background-color: var(--text-faint);
}

.svelte-pcimu8 {
  --color-text-today: #87ff5f;
}

#calendar-container .year {
  color: #ab92fc;
}

#calendar-container .month {
  color: #ab92fc;
}

#calendar-container .active {
  color: #87ff5f;
  background-color: #39274c;
}

.kanban-plugin__lane {
  border: var(--interactive-accent);
}

.omnisearch-result__title,
.omnisearch-result__title > span {
  color: #000000;
}

.omnisearch-result__extension,
.omnisearch-result__folder-path {
  color: #74008e;
}

.omnisearch-result__counter {
  color: #3add04 !important;
  background: #951bfa;
  padding: 2px;
}

.omnisearch-result__body {
  color: #222222;
}

.omnisearch-default-highlight {
  text-decoration-color: #87ff5f;
}
